<p>Tom's birthday is <strong>{{birthday}}</strong> no pipes</p>
<p>Tom's birthday is <strong>{{birthday | date}}</strong> pipes : <strong>date</strong></p>
<p>Tom's birthday is <strong>{{birthday | date:"MM/dd/yy"}}</strong> pipes : <strong>date:"MM/dd/yy"</strong></p>
<p>Tom's birthday is <strong>{{birthday | date:"MM/dd/yyyy"}}</strong> pipes : <strong>date:"MM/dd/yyyy"</strong></p>
<p>Tom's birthday is <strong>{{birthday | date:"dd/MM/yyyy"}}</strong> pipes : <strong>date:"dd/MM/yyyy"</strong></p>
<p>Tom's birthday is <strong>{{birthday | date:"yyyy/dd/MM"}}</strong> pipes : <strong>date:"yyyy/dd/MM"</strong></p>
<p>Tom's birthday is <strong>{{birthday | date:"yyyy.dd.MM"}}</strong> pipes : <strong>date:"yyyy.dd.MM"</strong></p>
